html {
    font-family: Rubik, sans-serif;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;

}



@media only screen and (min-width: 800px) {


    body {
        padding: 0;
        margin: 0;
        height: 100%;
        background: url("/images/paws.png") repeat;
        /* CSS Grid implementation onto the body */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto 1fr auto;
        grid-row-gap: 1%;
    }


    img {
        width: 100%;
        height: 100%;
    }

    header {
        grid-column: 1/9;
        grid-row: 1;
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 1fr 1fr;
        height: 500px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.97))), url(/images/dog-black-labrador-black-dog-162149.jpeg) no-repeat;
        background-size: cover;
        background-position: 0 25%;
        color: #eb7859;
        width: 100%;
    }

    header img {
        width: 100%;
        height: 100%;
    }



    header nav {
        grid-column: 3/4;
        grid-row: 2;
        margin: auto auto 70px auto;
        text-align: center;
        font-size: 30px;
    }

    header nav a {
        text-decoration: none;
        color: white;
    }

    header nav a:hover {
        color: #eb7859;
    }


    .logo {
        grid-column: 1/2;
        grid-row: 1/3;
    }



    main {
        grid-column: 2/8;
        background: white;
        border: 3px solid #AEC6CF;
        border-radius: 20px;
        font-size: 18px;
        line-height: 145%;

    }

    main article {
        margin: 2%;
    }


    main article b {
        color: #5e8fa1;
    }

    main article a {
        color: #eb7859;
        font-weight: 900;
    }

    main h1 {
        font-size: 32px;
        color: #eb7859;
    }

    .nested-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr auto;
    }


    .nested-1 section:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1;
    }

    .nested-1 section:nth-child(2) {
        grid-column: 1/3;
        grid-row: 2;
    }

    .nested-1 section:nth-child(4) {
        grid-column: 3/5;
        background: #eb7859;
        margin: auto;
        width: 70%;
        height: auto;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 10px;


    }

    .nested-1 section:nth-child(4) li {
        list-style-type: none;
        font-size: 22px;

    }


    .nested-1 section:nth-child(5) {
        grid-column: 1/5;

    }


    .nested-1 img {
        grid-column: 3/5;
        grid-row: 1;
        width: 70%;
        height: auto;
        border-radius: 10%;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

    .gallery figure {
        margin: auto;
    }

    .gallery img {
        width: 90%;
    }

    /* About us page */

    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 12px;

    }

    .team-grid figure {
        background: #eb7859;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .team-grid img {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    figcaption {
        text-align: center;
        text-decoration: underline;
        font-weight: 700;
        padding: 2%;

    }

    figure li {
        list-style-type: none;
        padding: 2%;
    }

    /* Services Page */

    .service-grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 10px;

    }

    .service-grid img {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
        height: auto;
    }

    .service-grid h2 {
        margin-left: 20px;
        color: white;
    }

    .service-grid h3 {
        text-align: center;
        font-size: 36px;
    }

    .service-grid p {
        margin: 0 6%;
        text-align: justify;
    }

    .light {
        background: #AEC6CF;
    }

    .dark {
        background: #5e8fa1;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* Contact page */
    
    .areas-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10%;
        margin: 5%;
        text-align: center;
    }
    
    .areas-grid div {
        border: 1px solid black;
        border-radius: 20px;
        padding: 20%;
        background: #AEC6CF;
    }
    
    .areas-grid div:hover {
        background: #5e8fa1;
        color: white;
    }
    
    input {
        display: inline;
        border-radius: 20px;
        height: 30px;

    }
    
    textarea {
        height: 300px;
        width: 50%;
        border-radius: 20px;
        resize: none;
    }
    
    button {
        background: #AEC6CF;
        border-radius: 20px;
        height: 40px;
        width: 100px;
    }



    footer {
        grid-column: 1/9;
        display: grid;
        grid-template-columns: 1fr;
        min-height: 100px;
    }

    .footer-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #AEC6CF;
        border-top: 3px solid #5e8fa1;
        padding-bottom: 2%;
    }

    .footer-body section {
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
    }

    .footer-body section li {
        text-align: left;
        list-style-type: none;
        width: 100%;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #5e8fa1;
        text-align: center;
    }

    .footer-bottom a {
        color: black;
        text-decoration: none;
        margin: auto;
    }

    .footer-bottom a:hover {
        color: white;

    }
}


/* mobile functionality */

@media only screen and (max-width: 800px) {

    html {
        max-width: 100%;
    }
 
    header {
        display: block;
        min-height: 300px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 5))), url(/images/dog-black-labrador-black-dog-162149.jpeg) no-repeat;
        background-size: cover;
        background-position: 0 25%;
        color: #eb7859;
        width: 100%;
        
    }
    
    header nav {
        width: 100%;
        text-align: center;

    }
    
    header nav a {
        text-decoration: none;
        color: black;
        font-size: 20px
    }
    
    body {
        display: block;
        background: url("/images/paws.png") repeat;
        margin: 0;
        padding: 0;
    }
    
    main {
        display: block;
        margin: 5%;
    }
    
    
    footer {
        width 100%;
        display: block;
    }
    footer a {
        width: 100%;
        margin: 39%;
    }
    
    .footer-body {
        display: block;
        border-top: 1px solid black;
        margin: 0;
        width: 100%;
    }
    
    .footer-body section {
        margin: 5%;;
    }
    
    .footer-bottom {
        display: block;
        border-top: 1px solid black;
    }
    
    .footer-bottom p {
        width: 100%;
        text-align: center;

        
    }
    

    footer img{
        display: none;
    }

    .logo img {
        display: flex;
        position: relative;
        width: 200px;
        height: 300px;
        margin: auto;
        
    }
    
    img {
        width: 100%;
    }



}
